<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{shop_name}}{{ product.name }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>{{shop_name}}</h1>
    <h2>{{ product.name }}</h2>
    <img src="/static/{{ product.image }}" alt="{{ product.name }}" width="300">
    <p>Цена: {{ product.price }}</p>
    <p>{{ product.description }}</p>
    <a href="/">Вернуться на главную</a>
</body>
</html>